[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flash = "*"
Flask = "*"
gunicorn = "*"
redirect = "*"
request = "*"
requests = "*"
render_template = "*"
session = "*"
sessionmaker = "*"
sqlalchemy = "*"
postgres = "*"
pip = "*"


[requires]
python_version = "2.7.13"
