<link rel="stylesheet" href="/static/css/index_style_new.css" type="text/css">
{% block body %}

<form method="POST" action="/login">
	<div class="index">
		<div class="index-page">
			<div class="app-title">
				<h1> <b>Welcome to the Nominator </b></h1>
					<h3> Enter to login and get nominating </h3>
			</div>

			<div class="enter-button">
        <div class="control-group">
          <input type="submit" value="Enter" class="btn btn-primary btn-large btn-block" >
        </div>
          <br>
			</div>
		</div>
	</div>
</form>

{% endblock %}
