<link rel="stylesheet" href="/static/css/nomination_style_new.css" type="text/css">
{% block body %}

<form method="POST" action="/submission">
	<div class="nomination">
		<div class="nomination-screen">
			<div class="app-title">
				<h1>Nominate</h1>
			</div>

			<div class="nomination-form">

				<div class="control-group">
				<input type="text" class="nomination-field" value="" placeholder="Your username" name="your_username"  required="required">
				<label class="nomination-field-icon fui-user" for="nomination-name"></label>
				</div>

				<div class="control-group">
				<input type="email" class="nomination-field" value="" placeholder="Your email" name="your_email"  required="required">
				<label class="nomination-field-icon fui-lock" for="nomination-email"></label>
				</div>

				<div class="control-group">
				<select name="nominee" width="5000px"  required="required">
					  <option value="" disabled selected>Select your nominee</option>
				{% for o in option_list %}
						<option value="{{o.userID}}">{{o.username}}</option>>
				{% endfor %}
				</select>
				<!-- <input type="text" class="nomination-field" value="" placeholder="Person you are nominating" name="nominee_username"> -->
				<label class="nomination-field-icon fui-user" for="nomination-name"></label>
				</div>

				<div class="control-group">
				<input type="text" class="nomination-field" value="" placeholder="reason" name="reason"  required="required">
				<label class="nomination-field-icon fui-lock" for="nomination-reason"></label>
				</div>

                <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
			<a href="{{ url_for('logout') }}">Logout</a></li>
		</div>
	</div>
</form>
{% endblock %}
