<doctype! html>

<html>

  <head>

    <title> The Nominator </title>

  </head>

  <body>

    <p>
      <h2> Sign up </h2>
      <p> Create your team and register members</p>
      <p> Name of team </p>
      <div id="team_creation">
        <form method="post" action="/team_name">
        </form>
      </div>
      <p> Member user name and e-mail address </p>
      <div id="member_registration">
        <form method="post" action="/member_details">
        </form>
      </div>

    </div>
  </body>
</html>
