<link rel="stylesheet" href="/static/css/index_style.css" type="text/css">
{% block body %}

<form method="POST" action="/results">
	<div class="index">
		<div class="index-page">
			<div class="app-title">
				<h1> You have submitted </h1>
					<h4> To view the results, click below </h4>
			</div>

			<div class="enter-button">
        <div class="control-group">
          <input type="submit" value="View results" class="btn btn-primary btn-large btn-block" >
        </div>
          <br>
				<a href="{{ url_for('logout') }}">Logout</a></li>
			</div>
		</div>
	</div>
</form>

{% endblock %}
