<link rel="stylesheet" href="/static/css/user_style.css" type="text/css">
{% block body %}

<form method="POST" action="/nomination">
	<div class="index">
		<div class="index-page">
			<div class="app-title">
				<h1>Nomination Time</h1>
					<h3> Enter to nominate your <b> HERO OF THE WEEK </b> </h3>
			</div>

			<div class="enter-button">
        <div class="control-group">
          <input type="submit" value="Nominate" class="btn btn-primary btn-large btn-block" >
        </div>
				<a href="{{ url_for('logout') }}">Log out</a>
          <br>
			</div>
		</div>
	</div>
</form>

{% endblock %}
