<doctype! html>

<html>

  <head>

    <title> The Nominator </title>

  </head>

  <body>

    <p>
      <h2> Welcome to the Nominator </h2>
      <p> Using this web app, you can set up various types of nominations.</p>
      <p> Already have a team </p>
      <div id="login-page">
        <form method="post" action="/login">
          <button type="login">Login</button>
        </form>
      </div>
      <p> No team yet? Create your team by signing up </p>
      <div id="signup-page">
        <form method="post" action="/signup">
          <button type ="signup"> Sign up</button>
        </form>
      </div>

    </div>
  </body>
</html>
