<doctype! html>

<html>

  <head>

    <title> The Nominator </title>

  </head>

  <body>

    <p>
      <h5> Please enter your user name and e-mail address </h5>
      <div id="username">
        <form method="post" action="/login">
          <label for="username">Username:</label>
          <input type="username" id="username" name="username" required="required">
          <input type="submit" value="Submit" id="submit-button">
        </form>
      </div>
      <div id="email">
        <form method="post" action="/login">
          <label for="email">Email address:</label>
          <input type="email" id="email" name="email" required="required">
          <input type="submit" value="Submit" id="submit-button">
        </form>
      </div>

  </body>
</html>
